VITE_SUPABASE_URL=https://qihynticctyemjjwiplz.supabase.co
VITE_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFpaHludGljY3R5ZW1qandpcGx6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTcxODEwNDUsImV4cCI6MjAzMjc1NzA0NX0.2rfE5SVCziIF4iLuagufASVLaVRYGdY_LO2JDK87FMs